body{
    background-color: rgb(18, 0, 27);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
#tab_infos{
    width: 50%;
    float: left;
    padding: 15px;
    height: 100px;
    margin-left: 25%;
    margin-top: -10%;
    position: absolute;
    background-color: rgba(255, 255, 255, .5);
}
#bancada_roleta{
    width: 600px;
    height: 272px;
    margin-top: 15%;
    margin-left: 28%;
    background-size: auto;
    background-repeat: no-repeat;
    background: url("../img/roleta.png");
    image-rendering: pixelated !important;
}
input{
    float: left;
    width: 140px;
    font-size: 25px;
    border-radius: 5px;
    border: 1px solid gray;
}
#proximos_itens{
    float: left;
    height: 25px;
    width: 91.6%;
    padding: 15px;
    margin-top: 10px;
    position: absolute;
    border-radius: 15px;
    background-color: rgb(54, 54, 54);
}
.casa_preta, .casa_vermelha, .casa_verde{
    float: left;
    width: 40px;
    color: white;
    font-size: 25px;
    margin-right: 5px;
    border-radius: 5px;
    text-align: center;
    background-color: black;
}
.casa_vermelha, .cs_vermelha{
    background-color: red;
}
.casa_verde, .cs_verde{
    color: black;
    background-color: greenyellow !important;
}
.cs_jogos{
    background-color: rgb(24, 129, 106);
}
#probabilometro{
    width: 160px;
    height: 40px;
    float: right;
    margin-top: -40px;
}
#porcentagem{
    float: left;
    font-size: 23px;
    margin-top: 5px;
}
#cor_provavel{
    float: right;
    color: white;
    overflow: hidden;
    padding-top: 5px;
    text-align: center;
    height: 30px !important;
    width: 100px !important;
    background-color: rgb(75, 75, 75);
}
.btn_naveg{
    font-size: 25px;
    border: 0px solid;
    margin-left: 15px;
    border-radius: 5px;
    transition: background-color .2s;
}
.btn_naveg:hover{
    background-color: rgb(190, 190, 190);
}
#cores_lateral, #cores_lateral_direita{
    top: 0%;
    left: 0%;
    width: 180px;
    height: 100%;
    position: fixed;
    background-color: rgba(255, 255, 255, .1);
    box-shadow: 0px 0px 15px rgba(255, 255, 255, .2);
}
#cores_lateral_direita{
    left: 87%;
    right: 0% !important;
}
.cs_preta{
    background-color: black;
}
.quadro_porc, .quadro_porc_direita{
    width: 100%;
    color: white;
    height: 110px;
    font-size: 50px;
    margin-top: 45px;
    padding-top: 40px;
    text-align: center;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    text-shadow: 0px 0px 3px black;
    box-shadow: 0px 0px 15px black;
}
.quadro_porc_direita{
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}
#completa_slots{
    width: 492.8px;
    height: 167px;
    margin-top: 10px;
    margin-left: 61.1px;
    position: absolute;
}
.item_slot{
    z-index: 3;
    width: 37px;
    margin: 2px;
    margin-top: 2px;
    float: left;
    height: 51px;
    box-sizing: border-box;
}
/* .destaca_slot_0{
    width: 80px;
    height: 165px;
    margin-left: -29px;
    box-sizing: border-box;
    background-color: rgba(141, 46, 46, 0.363);
    clip-path: polygon(39% 0, 100% 0%, 100% 100%, 24% 100%, 0 48%);
} */
.qtd_repeticoes, .num_repeticos_tab{
    margin-top: -40px;
    position: absolute;
    color: white !important;
    font-size: 18px !important;
    text-shadow: 1px 1px 1px black;
}
.num_repeticos_tab{
    margin-top: -10px !important;
}
.prob_tab{
    z-index: 3;
    width: 78px;
    margin: 2px;
    float: left;
    height: 37px;
    margin-top: 222px;
    margin-left: 65px;
    box-sizing: border-box;
}
.value_19-36{
    float: right;
    margin-right: 50px;
}